.red {
        background-color:red;
            display:inline-block;

        left:200px;
        height:100px;
        width:100px;

}
.blue {
        background-color:blue;
            display:inline-block;

        right:100px;
        height:100px;
        width:100px;

}
.gold {
        background-color:gold;
            display:inline-block;

        right:100px;
        height:100px;
        width:100px;

}
/*Relaitve position is where the object would have beeen, have we followed the natural html format.
  Absolute positioning is addinga margin to its parent lement
*/